/*RESEAT*/

* {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}


html{
    /* colors */
  --hue: 159;
  /*COLOR TEXTO*/
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  
  /*COLOR NAVEGADOR E FOOTER*/
  --color-nav-footer: rgb(17, 20, 189);
  
  /*COLOR TITULO - nav */
  --color-title:  #050505ee;
 
  /*COLOR TITULO - nav */
  --color-houver:rgb(51, 21, 133);

  /*color do title */
  --color-sub-title: #0a0a66;
  /* --color-IMAGEM */
  --color-img:rgba(102, 161, 209, 0.925);
  /*Color da linha do houver*/
  --color-icon:#0bb357;

  /*1rem = 16px (user agent) = 100% (User Agent) */
  font-size: 62.5%; /* 10px */
}

html{
  scroll-behavior: smooth; /* Rolagem de leve na página */
}

li{
  list-style: none;
}

/*MENU*/
.header{
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.658);
/*SOMBRA ABAIXO*/
}

.logo img {
  width: 36%;
}

.nave {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family:'Poppins', sans-serif;
  font-weight:bold;
  background: var(--text-color-light);
  height: 9rem;
}

.nave a{
  font-size: 2rem !important;
  color: var(--color-title);
}

.nave .doe{
  color: var(--color-nav-footer);
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: .1rem;
  margin-left: 2.2rem;
  border-radius:.4rem;

}


/* 
Efeito de traçinho no menu */
.nav-list li a{
  transition: color 0.3s ease-in; /* Colocar o color, para ocorrer a transição somente na cor */
  position: relative;
  padding: 1rem;
  text-decoration: none;
}

.nav-list li a:hover{
  opacity: .8;
}

.nav-list li a::after{
  content: '';
  width: 0%; /*Para dar o efeito dele crescendo */
  height: .2rem;
  background: var(--color-icon);
  position: absolute;
  left: 0;
  bottom: -.2rem;
  transition: width 0.2s;  /*Para dar o efeito dele crescendo */
}

.nav-list li a:hover::after{
  width: 100%;  /*Para dar o efeito dele crescendo */
}

.nav-list li{
  text-align: center;
}

/*Menu Hamburgue*/
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 3.2rem;
  height: .5rem;
  background:var(--color-title);
  margin: .5rem;
  transition: 0.3s ease-in;
}

@media (max-width:1100px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 15vh;
    right: 0;
    width: 45vh;
    height: 95vh;
    background:var(--text-color-light);;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(200%);
    z-index: 1;
    overflow: hidden;
  }
  
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }

}

.nav-list.active {
  transform: translateX(0);
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5.0rem);
  
  }
  to {
    opacity: 1;
    transform: translateX(0);
    
  }
}

@media (max-width: 300px){
  body{
    font-size: .25rem;
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    width:45vh;
    overflow: hidden;
  }
}



/* X DE FECHAMENTO */
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


  

/*LINHA QUE SEPARA OS CONTEUDOS*/
.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}