
/* ====== SOBRE================================ */
#historia{
    text-align: center;
}


#sobre{
    overflow: hidden;
}

#sobre .container{
    margin: 0 ;
    
}

#sobre .image{
    position: relative;
}

#sobre .image::before{
    content: '';
    height: 50%;
    width: 100%;
    /* background: var(--base-color-second); */
    border-right: 5rem solid  var(--base-color-second);
    position: absolute;
    bottom: 37.8%;
    left: -33%;
    z-index: 0; /* ´Fica atrás da imagem */
}

#sobre .image img,
#sobre .image::before{
    border-radius: 0.25rem;
}

#sobre .image img{
    position: relative;
    top: 19%;
    right: -2.93rem;
    width: 80%;
}


#sobre .text{
    text-align: start;   
    padding: 0 2rem;
}

#sobre .text h1{
    margin-bottom: 1rem;
}

#sobre .text p{
    margin-bottom: 2rem;
}

span{
    color: var(--base-color);
}


/* ====== serviços ================================ */
#services-sobre .cards .card + .card{
    margin-top:5rem ;
}

/* ======= RESPONSIVO - MEDIA QUERIES ================================= */
/* EXTRA LARGE DEVICES: +1200 > */
@media (min-width: 1200px){
    /*sobre*/
    #sobre .container{
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    
    #sobre .image{
        order: 1; 
    }
    #sobre .image::before{
        bottom: 33.8%;
        left: 5%;
    }
    
    #sobre .image img,
    #sobre .image::before{
        border-radius: 0.25rem;
    }
    
    #sobre .image img{
        position: relative;
        top: 19%;
        right: -2.93rem;
        width: 80%;
    }
   
    #sobre .text{  
        order: 0;
        max-width: 90rem;
        text-align: left;
    }

    #services-sobre{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main{
        /*Para desgrudar o conteudo do menu */
        margin-top: var(--header-height);
 
    }

}



/* Large devices: +1023 >*/
/* Large devices: +992 >*/
@media (max-width: 992px){
    :root{
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
    #sobre .container{
        margin: 0 auto; 
    }  
     
    #sobre .text{  
        order: 0;
        max-width: 90rem;
        text-align: left;
        margin: 0 auto;
    }

    
    #sobre .image img{
        width: 55%;
        margin-bottom: 4rem;
        left: 22%;
     }
 
     #sobre .image::before{
         height: 100%;
         left: -18%;
         top: 15%;
    }

    #services-sobre .container{
        margin: 0 auto;
    }

}



@media(max-width: 1199px){
    #sobre .container{
        margin: 0 auto;
    }

    #sobre .image{
        order: 1;
        margin: 0 auto;
    }

    #sobre .image img{
       width: 60%;
       margin-bottom: 4rem;
       right: -19%;
       top: -3%;
    }

    #sobre .image::before{
        height: 100%;
        left: -11%;
        top: -8%;
    }

    #sobre .text{  
        order: 0;
        max-width: 90rem;
        text-align: left;
        margin: 2rem 2rem;
    }

    #services-sobre .container{
        margin: 0 auto;
    }
}


@media(max-width: 999px){
    body{
        font-size: 1.2rem;
    }
       
}
