
/* ====== turtle ================================ */
#turtle{
    text-align: center;
    overflow: hidden;
    background-image: url(../Img/pexels-photo-7082800.svg);
    background-size: cover;
}

#turtle .container .text{ 
    text-align: center;
    background: rgba(247, 247, 247, 0.61);
    padding: 2rem 3rem;
    border-radius: .35rem .35rem;
    margin: 0 auto ; 
}


/**/

.direita .container{
    margin: 0 ;
    position: relative;
}


.direita .image{
    height: 19rem;
}

.direita .image img{
    border-radius: 0.25rem;
}

.direita .container::before{
    content: '';
    height: 200%;
    /* background: var(--base-color-second); */
    border-right: 7rem solid  var(--base-color-second);
    position: absolute;
    top: -50%;
    right: -15%;
    z-index: -1; /* ´Fica atrás da imagem */
}



.mainTurtle .container .direita .text,
.mainTurtle .container .esquerda .text{
    margin: 0 auto;  
    text-align:end;
}

 .mainTurtle .text .title{
    text-align: center;   
    margin: 2rem 0;
}

.container .text p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}



/*ESQUERDA*/

 .esquerda .container{
    margin: 0 auto 5rem auto;  
    position: relative;
} 

.esquerda .container .image{
    height: 19rem;
}


.esquerda .image img{
    position: relative;
    max-width: 100%;
    height: 33.2rem;
    top: -37%;
    border-radius: 0.25rem;
}


.esquerda .text{
   margin: 0 auto;
   text-align:center;
}

.esquerda .text p{
    margin-bottom: 2rem;
    line-height: 1.5;
}

.esquerda .container::before{
    content: '';
    height: 200%;
    /* background: var(--base-color-second); */
    border-right: 7rem solid  var(--base-color-second);
    position: absolute;
    top: -50%;
    left: -15%;
    z-index: -1; /* ´Fica atrás da imagem */
}


/* EXTRA LARGE DEVICES: +1200 > */
@media (min-width: 1200px){
    .direita .container, .esquerda .container{
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto 1.5rem auto;
        /* border: .1rem solid var(--base-color);  */
    }
    
    
    .direita .image{
        order: 1; 
    }
    
    .direita .image img{
        width: 100%;
        height: 19rem;
        border-radius: 0.22rem 0.22rem;
    }
    
    .direita .text{  
        order: 0;
        text-align: center;
    }
    
 
    /*ESQUERDA*/

    .esquerda .container{
        margin: 0 auto;
        display: flex;
    }

    .esquerda.image img{
        width: 100%;
    }
}




@media(max-width: 1250px){
    .direita .container, .esquerda .container, .container{
        margin:  0 auto;
    }
    
    .mainTurtle .text{  
        margin: 0 auto;
        text-align: center;
    }
    
    .image{
        margin: 0 auto;
    }
    
    .direita .container::before,
    .esquerda .container::before{
        display: none;
    }
    
    .direita .image img{
        position: relative;
        width: 59%;
        right:-22%;
    }
    
    .esquerda .image img{  
        width: 65%;
        right:-18%;
    }
    
}
