
/* ====== turtle ================================ */
#turtle{
    background-color: ;
    text-align: center;
    overflow: hidden;
    background-image: url(../Img/pexels-photo-7082800.svg);
    background-size: cover;
}

#turtle .container .text{ 
    text-align: center;
    background: rgba(247, 247, 247, 0.61);
    padding: 2rem 3rem;
    border-radius: .35rem .35rem;
    margin: 0 auto ; 
}


/**/

.direita .container{
    margin: 0 ;
    position: relative;
}

.direita .container::before{
    content: '';
    height: 220%;
    /* background: var(--base-color-second); */
    border-right: 7rem solid  var(--base-color-second);
    position: absolute;
    top: -60%;
    right: -15%;
    z-index: -1; /* ´Fica atrás da imagem */
}


.direita .image img{
    position: relative;
    top: 19%;
    right: -2.93rem;
}


.mainTurtle .container .direita .text,
.mainTurtle .container .esquerda .text{
    margin: 0 auto;  
    text-align:end;
}

 .text .title{
    text-align: center;   
    margin: 2rem 0;
}

.container .text p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}



/*ESQUERDA*/

.esquerda .container{
    margin: 0 auto;  
}

.esquerda .image{
    position: relative;
}

/* .esquerda .container::before{
    content: '';
    height: 220%;
    /* background: var(--base-color-second); */
    border-right: 2rem solid  var(--base-color-second);
    position: absolute;
    top: -20%;
    right: -20%;
    z-index: -1; /* ´Fica atrás da imagem */
} */


.esquerda .image img{
    position: relative;
   
}

.esquerda .text{
   margin: 0 auto;
    text-align:end;
}

.esquerda .text p{
    margin-bottom: 2rem;
    line-height: 1.5;
}



/* EXTRA LARGE DEVICES: +1200 > */
@media (min-width: 1200px){
    .direita .container, .esquerda .container{
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
        border: .1rem solid var(--base-color); 
    }
    
    
    .direita .image{
        order: 1; 
    }


    
    .direita .image img{
        position: relative;
        top: -15%;
        right: 2.93rem;
    }
   
    .direita .text{  
        order: 0;
        max-width: 90rem;
        text-align: left;
    }
    
    .image img{
        border-radius: 0.25rem;
    }

    /*ESQUERDA*/

    .esquerda .container{
        margin: 0 auto;
        display: flex;
    }

    .esquerda .image img{
        position: relative;
        top: -15%;
        left: 2.93rem;
    }

    .esquerda .text{  
        order: 0;
        max-width: 90rem;
        text-align: right;
    }
}


@media(max-width: 1199px){
    .direita .container{
        margin: 0 auto;
  
    }

    .direita .image{
        order: 1;
        margin: 0 auto;
    }

    .esquerda .image img{
       width: 60%;
       margin-bottom: 4rem;
       right: -19%;
       top: -3%;
    }


    .esquerda .text{  
        order: 0;
        max-width: 90rem;
        text-align: right;
        margin: 2rem 2rem;
    }
}