
#voluntario{
    overflow: hidden;
    background-image: url(../Img/voluntario.svg);    
    background-repeat: no-repeat;
}

#voluntario .text{
    margin-right: 1.5rem;
    text-align: start;
    background: rgba(247, 247, 247, 0.61);
    padding: 2rem 6rem;
}

#voluntario .text h1{
    margin-bottom: 1rem;
}


#voluntario .text p{
    margin-bottom: 2rem;
}

/* ====== requisitos ================================ */
/* #requisitos .container{
    margin: 0;  
} */

#requisitos .image{
    position: relative;
}

#requisitos .text{
    margin-left:1rem;
    margin-right: 1rem;
    text-align:start;
}

#requisitos .text ul{
    margin-bottom: 2rem;
    line-height: 1.5;
}

#requisitos .text .list-volu > li,
#lista-incluso ul li{
    list-style: circle;
    line-height: 2;
}



/* ====== Inclusos ================================ */
#lista-incluso{
     display: flex;
     justify-content: space-between; 
     width: 100%;  
     margin: 0 auto;
}

#lista-incluso div{
    padding: 0 4rem;
}


/*===== FOTOS DOS VOLUNTARIOS ====== */
#caroseul{
    margin: 0 auto;
}
#caroseul .foto{
    margin: 0 auto;
    width: 70%;
}

/*====  Inscrição============================ */
#inscricao{
    overflow: hidden;
    background-image: url(../Img/voluntario2.svg);
    background-repeat: no-repeat;
}


#inscricao .grid {
    gap: 4rem;
  }

/* ======= RESPONSIVO - MEDIA QUERIES ================================= */
@media (min-width: 1200px){ 
    #voluntario .container{
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    #voluntario .text{
        text-align: left;
    }


}

@media (min-width: 999px){
    :root{
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
    #voluntario .container{
        margin: 0 auto;
       
    }
    #requisitos .container{
        margin: 0 auto;
    }

    #lista-incluso .container{
        margin: 4rem auto;
    }

    #lista-incluso .container div + div{
        margin-top: 10rem;
    }

   #caroseul .container{
        margin: 0 auto;
        text-align: center;
    }

    #inscricao .container{
        margin: 0 auto;
    }


   
}

@media(max-width: 999px){ /*OK*/
    body{
        font-size: 1.2rem;
    }
    main .title{
        text-align: center;
    }

    #voluntario .container{
        margin: 0 auto;
        width: 100%;
    }

    #requisitos .container{
        margin: 0 auto;
    }
    #lista-incluso .container{
        margin: 0 2rem 2rem 2rem;
        padding: 0 2rem;   
    }
    #caroseul .container{
        margin: 0 auto;
    }

    #inscricao .container{
        margin: 0 auto;
    }   
}